<section id="about" class="content-section text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>About Todo Wise</h2>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum nemo minima quis dolores eaque aspernatur laboriosam rerum voluptate, facere tempore quisquam ex obcaecati deleniti alias fuga odit repudiandae dicta asperiores.
            <a href="#">the preview page</a>. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Mollitia, praesentium. Non maxime, modi iste omnis doloremque vitae dolorem placeat eius perspiciatis. Repellat, ullam. Aspernatur mollitia excepturi molestiae dicta fugiat dolores?</p>
            <!--video-->
            <!-- <div class="col-xs-8">
              <iframe  src="https://www.youtube.com/embed/6k3_T84z5Ds" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div> -->
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate exercitationem eaque commodi  <a href="#">the preview page</a>.inventore vel, perspiciatis consequuntur magnam error, iste veniam eum a et? Provident unde ipsum sequi optio, perferendis beatae.</p>
          


          




        </div>
      </div>
    </div>
  </section>