<section id="contact" class="content-section text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>Contact vtechguys</h2>
          <p>Feel free to leave us a comment on the
            <a href="#">Github overview page</a>
            and give some feedback about this app!</p>
          <ul class="list-inline banner-social-buttons">
            <li class="list-inline-item">
              <a href="#" class="btn btn-default btn-lg">
                <i class="fa fa-twitter fa-fw"></i>
                <span class="network-name">Twitter</span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#" class="btn btn-default btn-lg">
                <i class="fa fa-github fa-fw"></i>
                <span class="network-name">Github</span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#" class="btn btn-default btn-lg">
                <i class="fa fa-google-plus fa-fw"></i>
                <span class="network-name">Google+</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>