
        <div class="bg404">
            <div class="container">
                    <div id="title404Page" class="row">
                            <div class="col-12">
                                    
                                    <p id="msg404">
                                            <h1 id="title404H">404</h1>
                                        
                                        Sorry! The Page you requested is Not Found!
                                    </p>
                            </div>
                    </div>
                       <div class="row instruction404Page">
                            <div id="goBack" class="col-xs-2">
                                    <i class="fa fa-arrow-circle-left"></i>
                                    <span >Go Back</span>
                                </div>
                                <div id="HomePage" ng-href="#/" class="col-xs-2">
                                    <i class="fa fa-home"></i>
                                    <span>Home</span>
                            
                                </div>
                       </div>
            </div>
        </div>
   